* {
    margin: 0;
    padding: 0;
    border: none;
}



:root {
    --main-contrast: rgb(150, 232, 238);
    --red: rgba(255, 0, 0, 0.8);
    --blue: rgba(0, 60, 255, 0.8);
    --yellow: rgba(229, 255, 0, 0.8);
    --green: rgba(5, 212, 57, 0.8);
}

/* general */

body {
    height: 100vh;
    font-family: "comic sans MS", "comic sans";
    background-color: var(--main-contrast);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 200%;
}

h4 {
    font-size: 80%;
}

a {
    text-decoration: none;
}

/* header */

header {
    background-color: yellow;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    background-color: yellow;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main area */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-area {
    width: 800px;
    height: 800px;
    margin: 80px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}