* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --main-contrast: rgb(150, 232, 238);
    --red: rgb(255, 47, 47);
    --blue: rgb(43, 91, 248);
    --yellow: rgb(233, 253, 47);
    --green: rgb(21, 224, 72);
    --borders: rgba(51, 51, 51, 1);
}

/* general */

body {
    width: auto;
    height: 100vh;
    margin: auto;
    font-family: "comic sans MS", "comic sans";
    background-color: var(--main-contrast);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 200%;
    text-align: center;
}

h2 {
    font-size: 200%;
}

h4 {
    font-size: 80%;
    text-align: center;
}

p {
    font-size: 100%;
}

a {
    text-decoration: none;
}

/* header */

header {
    border-bottom: 1px solid var(--borders);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    border-top: 1px solid var(--borders);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main area */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-area {
    width: 800px;
    height: 800px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#in-button-score {
    display: block;
    text-align: center;
}

/* game area */

.game-area {
    width: 600px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: var(--borders);
    border: 5px solid var(--borders);
    border-radius: 20px;
}

/* middle circle */

.mid-circle {
    width: 220px;
    height: 220px;
    border: 15px solid var(--borders);
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    align-self: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#go-button h2 {
    font-size: 400%;
    font-weight: 900;
}

/* color buttons */

.buttons {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 10px solid var(--borders);
    position: relative;
    text-align: center;
}

.top-left-button {
    background-color: var(--red);
    border-radius: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right-button {
    background-color: var(--blue);
    border-radius: 0 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-left-button {
    background-color: var(--yellow);
    border-radius: 0 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-right-button {
    background-color: var(--green);
    border-radius: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* side menu */

#side-menu {
    position: absolute;
    top: 150px;
    display: none;
    justify-content: space-between;
    width: 600px;

}

.side-boxes {
    width: 280px;
    height: 50px;
    border: 2px solid var(--borders);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.color-names {
    display: none;
}

/* media query */

/* Styles for screens from 320px  */
@media screen and (min-width: 320px) {

    /* general */

    h1 {
        font-size: 120%;
    }

    h2 {
        font-size: 90%;
    }

    h3 {
        font-size: 80%;
    }

    h4 {
        font-size: 60%;
    }

    p {
        font-size: 60%;
    }

    /* header */

    header {
        height: 50px;
    }

    /* footer */

    footer {
        height: 20px;
    }

    /* main area */

    .main-area {
        width: 300px;
        height: 360px;
        border-radius: 10px;
        gap: 10px;
    }

    #in-button-score {
        display: block;
        text-align: center;
    }

    /* game area */

    .game-area {
        width: 280px;
        height: 280px;
        border: 4px solid var(--borders);
        border-radius: 10px;
    }

    /* middle circle */

    .mid-circle {
        width: 80px;
        height: 80px;
        border: 8px solid var(--borders);
    }

    #go-button h2 {
        font-size: 180%;
    }

    /* color buttons */

    .buttons {
        border: 4px solid var(--borders);
    }

    .top-left-button {
        border-radius: 10px 0 0 0;
    }

    .top-right-button {
        border-radius: 0 10px 0 0;
    }

    .bottom-left-button {
        border-radius: 0 0 0 10px;
    }

    .bottom-right-button {
        border-radius: 0 0 10px 0;
    }

    /* side menu */

    #side-menu {
        position: absolute;
        top: auto;
        bottom: 24px;
        display: none;
        flex-direction: column;
        width: auto;
        gap: 2px;
    }

    .side-boxes {
        height: 30px;
    }
}


/* Styles for screens from 425px  */
@media screen and (min-width: 425px) {

    /* general */

    h1 {
        font-size: 140%;
    }

    h2 {
        font-size: 110%;
    }

    h3 {
        font-size: 90%;
    }

    h4 {
        font-size: 80%;
    }

    p {
        font-size: 80%;
    }

    /* footer */

    footer {
        height: 30px;
    }

    /* main area */

    .main-area {
        width: 400px;
        height: 460px;
    }

    /* game area */

    .game-area {
        width: 360px;
        height: 360px;
    }

    /* middle circle */

    .mid-circle {
        width: 120px;
        height: 120px;
    }

    /* side menu */

    #side-menu {
        bottom: 40px;
        gap: 4px;
    }
}

/* Styles for screens from 768px to 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* general */

    h2 {
        font-size: 160%;
    }

    h3 {
        font-size: 120%;
    }

    h4 {
        font-size: 80%;
    }

    p {
        font-size: 120%;
    }

    /* header */

    header {
        height: 60px;
    }

    /* footer */

    footer {
        height: 40px;
    }

    /* main area */

    .main-area {
        width: 680px;
        height: 720px;
    }

    /* game area */

    .game-area {
        width: 600px;
        height: 600px;
    }

    /* middle circle */

    .mid-circle {
        width: 160px;
        height: 160px;
    }

    #go-button h2 {
        font-size: 260%;
    }

    /* side menu */

    #side-menu {
        bottom: 60px;
        flex-direction: row;
        gap: 20px;
    }

    .side-boxes {
        height: 50px;
    }
}